

a, a:link {
  text-decoration: none;
  color:#4169e1;
}

a:visited {
  text-decoration: none;
  color:#4169e1;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:link.navcolor {
  color: #eeeeff;
}


img[src$='#width500'] {
	width:150px;
	border-radius:5%;
	float: left;
	margin: 0px 20px 20px 0px;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

/* @media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
} */


.section-nav li.active > a {
	color: #222;
}

.section-nav {
	padding-right: 0;
	border-right: 1px solid #efefef;
}

.section-nav ol li a {
	text-decoration: none;
	display: block;
	padding-top: 5px;
	color: #aaa;
}

.section-nav ol li ul li a {
  padding-left: 10px;
}

.section-nav ul, .section-nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}

.section-nav li {
	margin-right: 1rem;
}

.section-nav ol {
	font-size: 16pt;
  color:
}

.presentation .section-nav ol li ul {
	font-size: 14pt;
  display: none;
}

.presentation .section-nav ol li:hover ul {
	display: block;
}

.smallcaps {
  font-variant: small-caps;
}


nav[data-toggle="toc"] {
  top: 42px;
}

nav[data-toggle=toc] .nav>li>a {
  font-size:15pt;
}

nav[data-toggle=toc] .nav .nav>li>a  {
  font-size:12pt;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  /*nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  } */
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
  
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
