@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Ibarra+Real+Nova:ital,wght@0,400;0,550;1,400;1,550&family=Rubik:ital,wght@0,300;0,450;1,300;1,450&family=Trirong:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');


body {
  font-family: 'Rubik', sans-serif;
  font-size: 20pt;
  font-weight: 300;
}
h1, h2, .h1, .h2{
  font-family: 'Trirong', serif;
  font-weight: 400;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6  {
  font-family: 'Trirong', serif;
  font-weight: 300;
}
