<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex mt-2 py-0">

 <!-- <a class="navbar-brand" href="/" title="Home"><i class='fa fa-home'></i></a> -->
 <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button> -->
 <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar"> -->
  <div class="d-inline-flex">
      <ul class="navbar-nav">
    {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a href="{{ .URL }}" title="{{ .Name }}" class="nav-link {{ with .Params.class }}{{ . }}{{ end }}">
{{ if .Pre }} {{ .Pre }} </span> {{ else}} {{- .Name -}} {{ end }}
        </a>
      </li>
    {{ end }}

  </ul>
  </div>


</nav>
