.container{
  margin: 0 auto;
  width: 70%;
  position: relative;
}

a, a:link {
  text-decoration: none;
  color:#4169e1;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a:link.navcolor {
  color: #eeeeff;
}

.project-container .project-list  {
  line-height: 1.1;
  margin-right: 10px;
  flex-direction: row;
}

.project-container .project-list ul,
.project-container .project-list li,
.project-container .project-list span,
.project-container .project-list a {
  margin: 0;
  padding: 0;
  position: relative;
}

.project-container .project-list ul { 
  list-style-type: none; 
  background-color:#333;
  color: #fff;
  flex: 1;
}

.project-container .project-list > ul > li { 
  margin: 0;
}


.project-container .project-list > ul > li > a{ 
  display: block;
  padding: 5px 10px 5px 10px;
}

.project-container .project-list > ul > li.active > a,
.project-container .project-list > ul > li:hover > a {
  background: #dddddd;
}

.project-container .project-list > ul > li:hover:after{ 
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #27408B;
  margin-left: -10px;
}



.project-container .project-list ul li:hover  {
  color: #4169e1;
  background: #dddddd;
}


.menu {
  background-color: #050b1f; 
}

.navcolor {
  color: #eeeeff;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0px 10px 0px;
  border-radius: 4pt;
}

nav > a {
  flex: 1;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  nav { flex-direction: row; }
  .project-container { display: flex; }
  .project-container .project-list { width: 25%; }
  .project-container .project { flex: 1;}
}

img{
  max-width: 70%;
  height: auto;
}


.oss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oss article {
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #ddd;
  margin: 0.5%;
  padding: 0.5%;
  width: 30%;
}


.rounded {
  width: 50px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.spiro {
 height: 150px;
}

#headertable {
  font-family: 'Ibarra Real Nova', sans-serif;
  font-size: 30pt;
  width: 100%;
}

#sitetitle {
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 5px

}

ul.contactlist {
  list-style-type: none; 
  margin: 10px 0px;
  padding: 0;
}

ul.contactlist  li a, #sitetitle {
  color:#111;
}

ul.contactlist  li a:hover, #sitetitle:hover {
  color:#11b;
}

img[src$='#width500'] {
	width:150px;
	border-radius:5%;
	float: left;
	margin: 0px 20px 20px 0px;
}


#content {  
  overflow: hidden;
}

